@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

:root {
    --primary-1: #eeeeee;
    --secondary-1: #222831;
    --secondary-2: #393e46;
    --tertiary-1: #00adb5;
    --red: #d00a0a;
}

.header {
    background-color: #333;
    color: #fff;
    padding: 15px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_nav {
    display: none;
}

.flex {
    display: flex;
}
.flex-column {
    flex-direction: column;
}
.flex-row {
    flex-direction: row;
}
.gap-8 {
    gap: 32px;
}
.gap-4 {
    gap: 16px;
}
.gap-3 {
    gap: 12px;
}
.gap-2 {
    gap: 8px;
}
.gap-1 {
    gap: 4px;
}
.justify-center {
    justify-content: center;
}
.justify-between {
    justify-content: space-between;
}
.justify-around {
    justify-content: space-around;
}
.overflow-hidden {
    overflow: hidden;
}
.h-screen {
    height: 100vh;
}
.h-full {
    height: 100%;
}
.h-fit {
    height: fit-content;
}
.h-80 {
    height: 80vh;
}
.h-70 {
    height: 70vh;
}
.w-screen {
    width: 100vw;
}
.w-full {
    width: 100%;
}
.w-90 {
    width: 90%;
}
.w-80 {
    width: 80%;
}
.w-50 {
    width: 50%;
}
.w-45 {
    width: 45%;
}
.w-40 {
    width: 40%;
}
.max-w-50 {
    max-width: 50%;
}
.align-center {
    align-items: center;
}
.text-white {
    color: #fff;
}
.text-primary-1 {
    color: var(--primary-1);
}
.text-secondary-1 {
    color: var(--secondary-1);
}
.text-secondary-2 {
    color: var(--secondary-2);
}
.text-tertiary-1 {
    color: var(--tertiary-1);
}
.text-red {
    color: var(--red);
}
.text-green {
    color: #00b894;
}
.text-center {
    text-align: center;
}
.text-base {
    font-size: 16px;
}
.text-lg {
    font-size: 18px;
}
.text-xl {
    font-size: 20px;
}
.text-2xl {
    font-size: 24px;
}
.text-3xl {
    font-size: 32px;
}
.text-4xl {
    font-size: 40px;
}
.text-5xl {
    font-size: 48px;
}
.font-bold {
    font-weight: 700;
}
.font-regular {
    font-weight: 400;
}
.font-medium {
    font-weight: 500;
}

.bg-white {
    background-color: #fff;
}
.bg-primary-1 {
    background-color: var(--primary-1);
}
.bg-secondary-1 {
    background-color: var(--secondary-1);
}
.bg-secondary-2 {
    background-color: var(--secondary-2);
}
.bg-tertiary-1 {
    background-color: var(--tertiary-1);
}
.bg-red {
    background-color: var(--red);
}
.bg-green {
    background-color: #00b894;
}
.p-8 {
    padding: 32px;
}
.py-2 {
    padding-top: 8px;
    padding-bottom: 8px;
}
.py-3 {
    padding-top: 12px;
    padding-bottom: 12px;
}
.py-4 {
    padding-top: 16px;
    padding-bottom: 16px;
}
.py-10 {
    padding-top: 40px;
    padding-bottom: 40px;
}
.px-4 {
    padding-left: 16px;
    padding-right: 16px;
}
.px-5 {
    padding-left: 20px;
    padding-right: 20px;
}
.px-8 {
    padding-left: 32px;
    padding-right: 32px;
}
.mt-5 {
    margin-top: 20px;
}
.mt-4 {
    margin-top: 16px;
}
.mt-3 {
    margin-top: 12px;
}
.mt-2 {
    margin-top: 8px;
}
.mb-10 {
    margin-bottom: 40px;
}
.mb-8 {
    margin-bottom: 32px;
}
.mb-5 {
    margin-bottom: 20px;
}
.mb-4 {
    margin-bottom: 16px;
}
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}
.rounded-8 {
    border-radius: 32px;
}
.rounded-4 {
    border-radius: 16px;
}
.display-none {
    display: none;
}
.display-block {
    display: block;
}
.word-wrap {
    word-wrap: break-word;
}
.cursor-pointer {
    cursor: pointer;
}
.cursor-text {
    cursor: text;
}
.position-relative {
    position: relative;
}
.position-absolute {
    position: absolute;
}
.object-cover {
    object-fit: cover;
}

/* Input Form */
input {
    outline: none;
    border: none;
}
/* input placeholder */
::placeholder {
    color: var(--primary-1);
    opacity: 0.5;
}

::-ms-input-placeholder {
    color: var(--primary-1);
    opacity: 0.5;
}

#search-container ::placeholder {
    color: var(--primary-2);
    opacity: 1;
}

#search-container ::-webkit-input-placeholder {
    color: var(--primary-2);
    opacity: 1;
}

button {
    outline: none;
    border: none;
    cursor: pointer;
}

/* pages */
nav {
    align-items: center;
    background-color: var(--secondary-1);
    color: #fff;
    padding: 30px 60px;
    position: sticky;
    top: 0;
    z-index: 999;
}

nav li {
    list-style: none;
    display: inline-block;
}

a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

nav li #logout-btn:hover {
    background-color: #c0bfbf;
}

.toast {
    position: fixed;
    top: 0;
    left: 50%;
    margin: 0 auto;
    z-index: 999;
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    min-width: 250px;
    max-width: 250px;
    margin-left: -125px;
}

#login .img-container {
    display: none;
}
#login .img-container img {
    width: 100%;
}
#login .login-container {
    width: 80%;
}
.login-container button:hover {
    background-color: #277a7d;
}

#register .img-container {
    display: none;
}
#register .img-container img {
    width: 100%;
}
#register .register-container {
    width: 80%;
}
.register-container button:hover {
    background-color: #277a7d;
}
.register-container .profile-img-container {
    max-height: 200px;
    max-width: 200px;
}
.register-container .profile-img-container img {
    width: 100%;
}

#home #book-container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 40%);
    grid-gap: 32px 16px;
    justify-content: space-between;
}
#book-container .book-img {
    height: 250px;
}
#book-container .book-img #img-link {
    background: rgba(34, 40, 49, 0.81);
}
#book-container .book-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #login .img-container {
        width: 45%;
        display: block;
    }

    #login .login-container {
        width: 45%;
    }

    #register .img-container {
        width: 45%;
        display: block;
    }

    #register .register-container {
        width: 45%;
    }

    #home #book-container {
        grid-template-columns: repeat(3, 30%);
        grid-gap: 32px 16px;
    }
    #book-container .book-img {
        height: 400px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #login .login-container {
        width: 35%;
    }

    #register .register-container {
        width: 35%;
    }
    #home #book-container {
        grid-template-columns: repeat(4, 20%);
        grid-gap: 32px 16px;
    }
    #book-container .book-img {
        height: 400px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
